export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_PORT=5432
export POSTGRES_DB=headless_forms
export DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
export BASE_URL=http://localhost:3000
export AUTH_ORIGIN=http://localhost:3000
export NUXT_PORT=3000
export NUXT_HOST=localhost
export INNGEST_BASE_URL=http://localhost:8288
export INNGEST_DEV=1